body {
    background-color: #000;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    text-align: center;
}

.barra-inicio {
    background-color: rgba(82, 12, 100, 0.514);
    padding: 20px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
}

.barra-inicio a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px;
}

.logo {  
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.logoh {  
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

form {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
}

label {
    display: block;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

input, textarea {
    width: 70%;
    padding: 10px;
    margin: 5px ;
    border: none;
    background-color: #4f4f50;
    color: #ffffff;
    border: 2px solid rgb(94, 2, 170);
}

button {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #d00;
}

.divMensaje {
    margin: 20px;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
    color: #f00;
}

/* Estilo para los datos enviados */
.datosEnviados {
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    color: #fff;
}

.datosEnviados h2 {
    font-size: 24px;
    color: #f00;
}

.datosEnviados p {
    font-size: 18px;
}

.imgError {
    width: 30px;
}

.imgOk {
    width: 30px;
}

/* Estilo para el botón Aceptar en los mensajes */
.btnAceptar {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.btnAceptar.hoverError {
    background-color: #d00;
}

.btnAceptar.hoverOk {
    background-color: #0f0;
}
